.contact-container {
  position: relative;
  padding: 20px;
  text-align: center;
}

.greeting {
  padding-top: 150px;
  margin-bottom: 20px;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 20px; /* Set width of all icons to match Instagram icon */
  height: 20px; /* Set height of all icons to match Instagram icon */
}

.complain-button {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 10px 20px;
  background-color: #f90;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact {
  padding: auto;
  position: fixed;
  top: 32px; /* Adjust to attach to the navbar */
  right: -400px; /* Initially hide the form off-screen */
  width: 100%;
  max-width: 350px; /* Reduced max-width */
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: right 0.3s ease; /* Smooth slide-in transition */
}

.contact.show {
  right: 0; /* Slide-in the form */
}

.contact .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #f90;
}

.contact h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contact p {
  font-size: 1em;
  margin-bottom: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  margin-top: 5px;
  padding: 10px;
  background-color: #f90;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
