/* HomePage.css */
.home-page {
    display: flex;
    flex-direction: column;
    background-image: url('https://wallpaperaccess.com/full/6367119.jpg');
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .welcome-message {
    background: rgba(255, 255, 255, 0.5); /* White background with 50% opacity */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: large;
  }
  
  .auth-buttons {
    margin-top: 20px;
  }
  
  .auth-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: #C68243; /* Orange color with 80% opacity */
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color:#673147; /* Darker orange with 90% opacity */
  }
  